# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
myenv/
.env/ 
.env

# Database files
*.db
*.sqlite3

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker (optional)
docker-data/

# Kafka / Redis local files
data/